
.skill-levels {
    margin-top: -0.5rem;
}

.skill-group {
    width: 100%;
    background-color: var(--skill-group-back);
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    min-height: 1.5rem;
    text-transform: capitalize;
}

.skill-group > * {
    margin-left: 1rem;
}

.skill-group-header {
    padding-top: 0.1rem;
    pointer-events: none;
}

.skill-group::after {
    position: absolute;
    left: calc(100%-1rem);
    right: 0;
    top: -0.2rem;
    bottom: 0;
    content: '⬆️';
    pointer-events: none;
}

.skill-group.shrunk::after {
    content: '⬇️';
}

.skill-group-panel {
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: block;
    overflow-y:scroll;
    
}

.skill-group .skill-group-panel {
    transition: max-height 0.2s ease-in;
    max-height: 5rem;
}

.skill-group.shrunk .skill-group-panel {
    transition: max-height 0.2s ease-in;
    max-height: 0;
}