
/* Title */
.title {
    color: var( --txtTitle );
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}

.title::after {
    content: '';
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    bottom: -6px;
    background-color: var(--titleBottom);
    background-color: var(--titleBottomGradient);
}